body{
    background-image: url(./img/bg.img.jpg);
    color: aliceblue;
}
h2{
    /* độ trong suốt */
    opacity: 100%; 
    /* background màu gì */
    background-color: blueviolet;
    /* ẩn phần tử khỏi giao diện,xóa không gian nó đang chiếm */
    display: none;
    /* visibility:ẩn hoặc hiện element */
    visibility: hidden;

}
img{
    opacity: 50%;
}